.board {
  width: fit-content;
  margin: auto;
}

.rows {
  width: 50%;
  margin: auto;
}

.boardCells {
  height: 40px;
  max-width: 80%;
  text-align: center;
}

.boardCells:nth-child(3n) {
  border-right: black solid 5.5px;
}

#n20,
#n21,
#n22,
#n23,
#n24,
#n25,
#n26,
#n27,
#n28,
#n50,
#n51,
#n52,
#n53,
#n54,
#n55,
#n56,
#n57,
#n58 {
  border-bottom: black solid 5.5px;
}

h2 {
  margin: auto;
  text-align: center;
}

/* .buttons {
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

button {
  width: 70px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: ghostwhite;
}

button:active {
  background-color: rgb(37, 115, 201);
} */
